:root {
  --wa-chat-dark-green: #2B6056;
  --wa-chat-green: #128C7E;
  --wa-chat-light-green: #25D366;
  --wa-chat-light: #DCF8C7;
  --wa-chat-white: #F9F9F9;
  --wa-chat-red: #DC1C2A;
  --wa-chat-font-family: sans-serif;
  --wa-chat-width: 24rem;
  --wa-chat-box-shadow: 0 0.5rem 1.5rem -0.25rem rgba(0, 0, 0, 0.15);
  --wa-chat-border-radius: .5rem;
  --wa-chat-z-index: 1055;
  --wa-chat-backdrop-color: rgba(0, 0, 0, .75);
  --wa-chat-distance-y: 1rem;
  --wa-chat-distance-x: 1rem;
  --wa-chat-right: var(--wa-chat-distance-x);
  --wa-chat-button-size: 3.5rem;
  --wa-chat-button-border-radius: 50%;
  --wa-chat-button-color: var(--wa-chat-light-green);
  --wa-chat-button-icon-size: 1.5rem;
  --wa-chat-window-margin-bottom: calc(var(--wa-chat-button-size) + var(--wa-chat-distance-y) + 1rem);
  --wa-chat-header-padding: 0.625rem 1.25rem;
  --wa-chat-contact-img-size: 2.5rem;
  --wa-chat-close-size: 1.75rem;
  --wa-chat-body-color: #000;
  --wa-chat-body-padding: 1rem 1rem 1.5rem 1rem;
  --wa-chat-placeholder-color: #757575;
  --wa-chat-placeholder-color-hover: #414141;
  --wa-chat-form-btn-border-radius: .25rem;
  --wa-chat-error-text-right: auto;
  --wa-chat-error-text-left: 0;
  --wa-chat-error-text-bottom: 100%;
  --wa-chat-error-text-margin: 0 0 0.25rem 0;
  --wa-chat-error-text-transform-origin: left;
  /* To make the component stay on the left, set the variables commented below */
  --wa-chat-left: auto;
  /* var(--wa-chat-distance-x) */
  --wa-chat-error-text-alt-right: 100%;
  /* var(--wa-chat-error-text-right) */
  --wa-chat-error-text-alt-left: auto;
  /* var(--wa-chat-error-text-left) */
  --wa-chat-error-text-alt-bottom: auto;
  /* var(--wa-chat-error-text-bottom) */
  --wa-chat-error-text-alt-margin: 0 0.5rem 0 0;
  /* var(--wa-chat-error-text-margin) */
  --wa-chat-error-text-alt-transform-origin: right;
  /* var(--wa-chat-error-text-transform-origin) */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.whatsapp-chat {
  z-index: var(--wa-chat-z-index);
  position: fixed;
  right: 0;
  bottom: 0;
  line-height: 1.25;
  font-family: var(--wa-chat-font-family);
}
.whatsapp-chat-toggler {
  display: none;
}
.whatsapp-chat-toggler:not(:checked) ~ .whatsapp-chat-window {
  transform: scale(0.75) translateY(calc(100% + var(--wa-chat-window-margin-bottom) / .75));
  pointer-events: none;
}
.whatsapp-chat-toggler:not(:checked) ~ .whatsapp-chat-backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.whatsapp-chat-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: var(--wa-chat-backdrop-color);
  transition: 0.25s;
}
.whatsapp-chat-button {
  z-index: 1;
  position: fixed;
  left: var(--wa-chat-left);
  right: var(--wa-chat-right);
  bottom: var(--wa-chat-distance-y);
  width: var(--wa-chat-button-size);
  height: var(--wa-chat-button-size);
  border-radius: var(--wa-chat-button-border-radius);
  background: var(--wa-chat-button-color);
  color: var(--wa-chat-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.whatsapp-chat-window {
  position: fixed;
  left: var(--wa-chat-left);
  right: var(--wa-chat-right);
  bottom: var(--wa-chat-window-margin-bottom);
  box-shadow: var(--wa-chat-box-shadow);
  transform-origin: bottom;
  border-radius: var(--wa-chat-border-radius);
  width: var(--wa-chat-width);
  max-width: calc(100% - var(--wa-chat-distance-x) * 2);
  transition: 0.4s;
}
.whatsapp-chat-header {
  background: var(--wa-chat-dark-green);
  color: var(--wa-chat-white);
  display: flex;
  align-items: center;
  padding: var(--wa-chat-header-padding);
  border-radius: var(--wa-chat-border-radius) var(--wa-chat-border-radius) 0 0;
}
.whatsapp-chat-header > * {
  display: flex;
}
.whatsapp-chat-contact-img {
  width: var(--wa-chat-contact-img-size);
  height: var(--wa-chat-contact-img-size);
  border-radius: var(--wa-chat-contact-img-size);
  object-fit: cover;
}
.whatsapp-chat-contact-info {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  flex-direction: column;
  padding: 0 1rem;
}
.whatsapp-chat-close {
  padding: 0.25rem;
  margin-right: -0.25rem;
  cursor: pointer;
  transition: 0.2s;
}
.whatsapp-chat-close svg {
  width: var(--wa-chat-close-size);
  height: var(--wa-chat-close-size);
}
.whatsapp-chat-close:hover {
  transform: scale(1.1);
  color: var(--wa-chat-light);
}
.whatsapp-chat-body {
  padding: var(--wa-chat-body-padding);
  font-size: 0.875rem;
  background: url(/images/whatsapp-chat/qzkmhio.jpeg) no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 0 0 var(--wa-chat-border-radius) var(--wa-chat-border-radius);
}
.whatsapp-chat-bubble {
  position: relative;
  z-index: 0;
  margin: 0 auto 0.5rem 0;
  padding: 0.125rem 0 0.25rem;
  border-width: 0.3rem 0.75rem 0.3rem 1.5rem;
  border-style: solid;
  -o-border-image: url(/images/whatsapp-chat/UD8BZ7J.png) 8 20 8 30 stretch;
  border-image: url(/images/whatsapp-chat/UD8BZ7J.png) 8 20 8 30 stretch;
  color: var(--wa-chat-body-color);
  text-align: left;
}
@media (min-width: 425px) {
  .whatsapp-chat-bubble {
    width: 85%;
  }
}
.whatsapp-chat-bubble:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  z-index: -1;
}
.whatsapp-chat-green-bubble {
  position: relative;
  display: block;
  border-width: 0.3rem 1rem 0.3rem 0.3rem;
  border-style: solid;
  width: 90%;
  -o-border-image: url(/images/whatsapp-chat/jXoq4es.png) 0 17 3 10 stretch;
  border-image: url(/images/whatsapp-chat/jXoq4es.png) 0 17 3 10 stretch;
  text-align: left;
  cursor: text;
  margin: 0 0 0 auto;
  color: var(--wa-chat-body-color);
}
.whatsapp-chat-green-bubble:hover .whatsapp-chat-input::placeholder {
  color: var(--wa-chat-placeholder-color-hover);
}
@media (min-width: 40rem) {
  .whatsapp-chat-green-bubble {
    width: 85% !important;
  }
}
.whatsapp-chat-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  width: 100%;
  border: 0;
  background: var(--wa-chat-light);
  box-shadow: none;
  outline: none;
  border-radius: 0;
  font-size: inherit;
  color: inherit;
}
.whatsapp-chat-input::placeholder {
  color: var(--wa-chat-placeholder-color);
  transition: 0.2s;
}
.whatsapp-chat-input:invalid:hover ~ .error .error-icon {
  transform: scale(1);
}
.whatsapp-chat-input:invalid:hover:focus ~ .error .error-text {
  color: var(--wa-chat-white);
  transform: scaleX(1);
  transition: transform 0.2s, color 0.2s 0.1s;
}
.whatsapp-chat-checkbox .whatsapp-chat-green-bubble {
  width: calc(90% - 1.75rem);
  cursor: pointer;
}
.whatsapp-chat-checkbox .whatsapp-chat-green-bubble:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  transform: translateY(-50%);
  transition: 0.2s;
}
.whatsapp-chat-checkbox .whatsapp-chat-green-bubble:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  width: 0.6rem;
  height: 0.35rem;
  margin-right: 1.125rem;
  margin-top: -0.125rem;
  border-left: 2px solid var(--wa-chat-white);
  border-bottom: 2px solid var(--wa-chat-white);
  transform: rotate(-90deg) translateY(-50%) scale(0);
  transition: 0.2s;
}
.whatsapp-chat-checkbox .whatsapp-chat-green-bubble:hover:before {
  border-color: rgba(0, 0, 0, 0.75);
}
.whatsapp-chat-checkbox .whatsapp-chat-green-bubble:hover .whatsapp-chat-input {
  color: var(--wa-chat-placeholder-color-hover);
}
.whatsapp-chat-checkbox .whatsapp-chat-input {
  pointer-events: none;
  color: var(--wa-chat-placeholder-color);
  line-height: 1.2;
  transition: 0.2s;
}
.whatsapp-chat-checkbox .error {
  margin-right: 1.75rem;
}
.whatsapp-chat-checkbox input[type=checkbox],
.whatsapp-chat-checkbox input[type=radio] {
  display: none;
}
.whatsapp-chat-checkbox input[type=radio] ~ .whatsapp-chat-green-bubble:before {
  border-radius: 50%;
}
.whatsapp-chat-checkbox input:checked ~ .whatsapp-chat-green-bubble:before {
  border-color: var(--wa-chat-green);
  background-color: var(--wa-chat-green);
}
.whatsapp-chat-checkbox input:checked ~ .whatsapp-chat-green-bubble:after {
  transform: rotate(-45deg) translateY(-50%) scale(1);
  transition: 0.2s 0.15s;
}
.whatsapp-chat-checkbox input:checked ~ .whatsapp-chat-green-bubble .whatsapp-chat-input {
  color: var(--wa-chat-dark-green);
}
.whatsapp-chat-checkbox input[required]:not(:checked) ~ .whatsapp-chat-green-bubble:hover .error-icon {
  transform: scale(1);
}
.whatsapp-chat-checkbox input[required]:not(:checked) ~ .whatsapp-chat-green-bubble:hover .error-text {
  color: var(--wa-chat-white);
  transform: scaleX(1);
  transition: transform 0.2s, color 0.2s 0.1s;
}
.whatsapp-chat .error {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  padding-right: 1rem;
  white-space: nowrap;
  pointer-events: none;
}
.whatsapp-chat .error-icon {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--wa-chat-red);
  vertical-align: middle;
  transform: scale(0);
  transition: 0.25s;
}
.whatsapp-chat .error-text {
  position: absolute;
  right: var(--wa-chat-error-text-right);
  left: var(--wa-chat-error-text-left);
  bottom: var(--wa-chat-error-text-bottom);
  display: inline-block;
  font-size: 0.625rem;
  margin: var(--wa-chat-error-text-margin);
  color: var(--wa-chat-red);
  background: var(--wa-chat-red);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
  transform: scaleX(0);
  transform-origin: var(--wa-chat-error-text-transform-origin);
  transition: transform 0.2s 0.1s, color 0.2s;
}
@media (min-width: 640px) {
  .whatsapp-chat .error-text {
    right: var(--wa-chat-error-text-alt-right, var(--wa-chat-error-text-right));
    left: var(--wa-chat-error-text-alt-left, var(--wa-chat-error-text-left));
    bottom: var(--wa-chat-error-text-alt-bottom, var(--wa-chat-error-text-bottom));
    margin: var(--wa-chat-error-text-alt-margin, var(--wa-chat-error-text-margin));
    transform-origin: var(--wa-chat-error-text-alt-transform-origin, var(--wa-chat-error-text-transform-origin));
  }
}
.whatsapp-chat-btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: var(--wa-chat-form-btn-border-radius);
  background: var(--wa-chat-green);
  color: var(--wa-chat-white);
  transition: 0.2s;
}
.whatsapp-chat-btn:hover {
  background: var(--wa-chat-dark-green);
  color: var(--wa-chat-white);
}
.whatsapp-chat .text-wa-green {
  color: var(--wa-chat-green);
}
.whatsapp-chat .text-wa-light-green {
  color: var(--wa-chat-light-green);
}